/* Estilos Gerais */
body{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}
img{
    display: block;
    /*para deixar a img responsiva*/
    max-width: 100%;
}
/*------------------------------------------------------------------*/
/*Introdução Interna do Sobre*/
.introducao_Interna{
    width: 100%;
    height: 160px;
    margin-top: 92px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}
.introducao_Interna h1 {
    font-size: 36px;
    color: white;
    font-weight: bold;
    text-transform: uppercase; 
}
.introducao_Interna h1:after{
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #fff;
    margin: 2px auto;
}/*deixar o titulo da navegaçao marcardo*/
.header_menu ul li a:hover {
    color:#fff;
}
.header_menu ul li a.menu_Ativo {
    color:#fff;
    
}
/*------------------------------------------------------------------*/

/* estilizando o botao*/
.btn{
    border: solid 3px #E98723;
    padding: 10px 30px;
    color:  #fec63e;
    text-transform: uppercase;
    font-weight: bold; 
    border-radius: 7px;   
}

/*ao passar o mouse mudar de cor*/
.btn:hover{
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    background: #E98723;

}
.subtitulo{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}
/*colocando a linha no subtitulo*/
.subtitulo:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 8px auto;
}

/* Header Cabeçario da pagina*/
.header{
    position:fixed;
    top: 0;
    background: #e98717;
    width: 100%;
    padding: 15px 0;
    /*z-index server para o conteúdo passar po baixo do menu*/
    z-index: 10;
}
/*jogar o menur a direita*/
.header_menu {
    text-align: right;
}
/*pegando elemento UL LI da lista deixar o menur na vertical*/
.header_menu ul li{
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px; 
}/*pegando elemento A da lista */
.header_menu ul li a {
    font-weight: bold;
    color: black;
    padding: 10px 0;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: .1em;
    
}/*AO PASSAR O MOUSE NO MENU AS LETRAS FICA BRANCA*/
.header_menu ul li a:hover{
    color: white;
}
/* Introdução*/
.introducao{
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    margin-top: 92px;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
}
.introducao h1{
    font-size: 48px;
    color: white;

}
.quote_externo{
    max-width: 320px;
    margin: auto;
    color: white;
    margin-bottom: 30px;
}
.quote_externo p {
    font-style:  italic;
}
/*criando o traço  before em cima after em baixo*/
.quote_externo p:before, .quote_externo p:after{
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: white;
    margin: 0 auto;
    margin: 10px auto;
}
.quote_externo cite {
    font-style: normal;
    font-weight:bold;
    font-size: 14px;
    letter-spacing: .1em;
}
/*produtos*/
.produtos{
padding: 60px 0;

}
.produtos_lista img{
    margin: 0 auto;
}
.produtos_lista li{
    background: #E98723;
    text-align:center ;
    margin-top: 10px;
    text-align: center;
}
.produtos_lista li h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 20px;
}
/*colocando a linha*/
.produtos_lista li h3:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: rgb(255, 255, 255);
    margin: 2px auto;

} 
.produtos_lista li p {
    padding: 10px 10px 10px 10px;
}
.produtos_icones{
    background: #000000;
    padding: 20px;
}
.call{
    text-align: center;
    padding-top: 40px;
    clear: both;
}
.call p {
    padding-bottom: 20px;
    
}
/*portifolio*/
.portifolio{
    width: 100%;
    padding: 40px 0;  
    background: #000;  
}
.portifolio .subtitulo{
    color: #E98723;  
}
.subtitulo{
    color: #E98723;
}
.portifolio .subtitulo:after{
    content: "";
    background: #fec63e;
    width: 80px;
    height: 3px;
    display: block;
    margin: 10px auto;
}
.btn-branco{
    border: solid 3px   #E98723;
    border-radius: 7px;
    padding: 10px;
    color:  #E98723;
    text-transform: uppercase;
    font-weight: bold;  
}
.btn-branco:hover{
    color:#000;
    border-color:  white;
    background: #E98723;
  
}
.portifolio p{
    color:#fff;
}/*pegando a ultima imagen da lista */
.esporte :last-child{
    margin-top: 10px;    
}
/*Qualidade*/
.qualidade{

    padding: 60px 0; 
}
.qualidade img{ 
    margin: 0 auto;
}/*colocando a img traço na pagina*/
.qualidade:after{
    position: absolute;
    content: "";
    display: block;
    width: 634px;
    height: 83px;
    background: url("../img/linhas.svg") no-repeat center;
    top: 219px;
    margin-left: 164px;
    z-index: 1;
}
.qualidade_lista h3{
    text-align: center;
    padding-top: 40px;
    margin-top: 20px  ;
    color: #E98723;
}

.qualidade_lista li h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 20px;

}
/*colocando a linha*/
.qualidade_lista  h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #000;
    margin: 5px auto;

} /*acima do footer*/
.sub_foter{
    background: url("../img/bg-footer.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 220px;
    margin-top: 0px;
    text-align: center;
    padding-top: 50px;
}

/*rodape footer*/

.footer{
    clear: both;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 20px 0;  
}

/*pegando todo h3 dentro do footer rodape*/
.footer h3{
    text-transform: uppercase;
    margin: 10px 0;
    line-height: 25px;
    letter-spacing: .1em;
    font-weight: bold;
    font-size: 18px;
    color: #E98723;    
}
/*fazendo a linha em todos os h3 do footer*/
.footer h3:after{
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #fff;
    margin: 10px 0;
}
.footer_Historia{
    padding-right: 100px;
}
.footer_Contato ul li {
    padding-right: 50px;
    padding: 1px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}
/*colocando as img das redes sociais uma do lado da outra*/

.footer_Redes ul li {
    display:inline-block;
    border: solid 3px #E98723;
    margin-right: 4px;
    padding: 13px;
    border-radius: 7px;
}
.footer_Redes ul li:hover {
    border-color: #fff;
}
/*cooper*/
.cooper{
    width: 100%;
    padding: 30px 0;
    clear: both;
    background: #e98717;
    
}
.cooper p {
    font-size: 18px;
    color: #000;
    text-align: center;
}

/*java Script*/

.js [data-slide]{
    position: relative;
}
.js [data-slide] > * {
    position: absolute;
    top: 0px;
    opacity: 0;
}
.js [data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: 500ms;
}
/*tirando os numeros do slide e deixando bolinhas*/
.js [data-slide-nav]{
    display: block;
    margin-top: 40px;
    text-align: center;
}
/*deixando o botao redondo e tirando os numeros*/
.js [data-slide-nav] button {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #1d1d1d;
    margin: 4px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    text-indent: -99px;
    overflow: hidden;
}
/*deixando o botao com cor*/
.js [data-slide-nav] button.active{
    background: #fec63e;
}
/*fazendo animação no site*/
.js [data-anime]{
    opacity: 0;
    transform: translate3d(0, -20px, 0);
}
/*aminação vindo da esqueda*/
.js .fadeInLeft{
    transform: translate3d(-120px, 0 , 0);
}
/*aminação vindo da direita*/
.js .fadeInRight{
    transform: translate3d(120px, 0 , 0);
}
/*animação vindo de cima para baixo*/
.js .fadeInDoun{
    transform: translate3d(0, -20px, 0);   
}
/*animação vindo de baixo para cima*/
.js .fadeInUp{
    transform: translate3d(0, 20px, 0);
}
/*tem que ficar em baixo das classes*/
.js .anime{
    opacity: 1;
    transform: none;
    transition: opacity 800ms, transform 1800ms;
}
/*escondendo os campos do span*/
.nao_Aparece{
    visibility: hidden;
    height: 0px;
    position: absolute;
}
/*estilizando a cor na msg do envio do fornulario*/
#form-sucesso {
    color: #31aa39;
    border: 2px solid #000;
}

#form-erro {
    color: #f64540;
    border: 2px solid #000;
    width: 80%;
    text-align: center;
    padding: 20px;
    letter-spacing: .1em;
    line-height: 25px;
}
#form-erro p {
    color: #fec63e;
    margin-top: 10px;
}
